body {
  margin: 0;
}

/* Header Containing Nav Menu */
.flex-Header {
  display: flex;
  justify-content: space-between;
  background: #3c3a39;
  position: absolute;
  padding: 0 5px 0 5px;
  top: 0;
  left: 0;
  right: 0;
}

.flex-Header .header-Nav {
  width: 14px;
  flex-basis: 40px;
  padding: 8px;
  border-radius: 8px;
}

.header-Nav .nav-Button {
  background-color: #3c3a39;
  border: 0;
  padding: 8px;
  border-radius: 8px;
}

.header-Nav .nav-Button:hover {
  background-color: black;
}

.header-Name {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  padding: 11px 12px;
  margin: 0;
}

/* Headline section */
#headline {
  margin: 44px 0 0;
  min-height: 590px;
  padding-top: 2%;
  padding-bottom: 2%;
  display: flex;
  background: #1c1a19 url(images/Illustration-header.svg) 240px 180px no-repeat;
  background-size: 150% 100%;
  align-items: center;
}

#headline .flex-Description {
  padding: 7%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.headline-Heading {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  margin: 0;
}

.headline-subHeading {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.headline-Text {
  font-family: 'Poppin', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.headline-Links {
  padding: 0;
  list-style: none;
  color: white;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 1;
  flex-grow: 0;
}

.headline-Links li {
  flex: 0 1 15%;
}

/* Works Section */
#Works {
  display: grid;
  padding: 80px 5% 60px 5%;
  grid-template: 0.45fr 1.47fr repeat(6, 1fr) / 100%;
  gap: 0px 5px;
  justify-content: space-evenly;
  align-items: center;
 
}

.works-Title {
  font-family: Crete Round;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  line-height: 100px;
  color: #1C1A19;
  justify-content: center;
}

.project {
  background: url(images/proj-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project1 {
  background-image: none;
  padding-bottom: 10px;
}

.project-Header {
  display: flex;
  padding: 60px 0px 0px 15px;
  flex-direction: column;
  justify-content: flex-start;
}

.project-Header h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #FFFFFF;
  margin-bottom: 0px;
}

.project-Header p {
  padding-right: 10%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.program-Link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.24);
  padding: 10px 12px 10px 12px;
  text-decoration: none;
}

.project-Button {
  margin-left: 0px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: #FF6B00;
  height: 48px;
  border: 0px;
}

.project ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
  padding-bottom: 10px;

}

.project li {
  padding-right: 3%;
}

.project1 .project-Header {
  padding-left: 0px;
}

.project1 ul {
  padding-left: 0px;
  padding-bottom: 5px;
}

.project1 .project-Header h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091E42;
}

.project1 .project-Header p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-right: 0;
  color: #091E42;
}

.project1 .program-Link {
  border: 1px solid #8993A4;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091E42;
  background: #FFFFFF;
  padding: 10px 12px 10px 12px;
  text-decoration: none;
}

.project1 .project-Button{
  width: 120px;
}
